.nav{
  padding: 1em 1.2em;
  display: flex;
  justify-content: space-between;
  background-color: darkslategray;
}
.home{
  border-radius: 5px;
  padding: 5px;
  font-size: 1.5rem;
  background-color: white;
}
#icon{ 
  padding: 0.35em;
  border-start-end-radius: 10px;
  border-end-end-radius: 10px;
  width: 20px;
  height: 17px;
  background-color: white;
  border: 2px solid white;
}
.search-input{
  border: 2px solid white;
  padding: 0.5em;
  border-radius: 10px;
  border-end-end-radius: 0px;
  border-start-end-radius: 0px;
}
.search{
  display: flex;
  padding-top: 15px;
  padding-right: 20px;
  border-radius: 15px;
  justify-content: center;
  align-items: center ;
}
#s{
  margin: 1.5em 0px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: white;
  border-bottom: 2px solid gray;
}
#s1{
  margin-top: 5px;
  padding-left: 20px;
  padding-top: 5px;
  font-size: 1.5rem;
}

#s2{
  background-color: rgb(89, 97, 89);
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
  height: 20px;
  font-weight: 600;
  font-size: large;

}
#s3{
  color: white;
  text-decoration: none;
}
#songsname{
  display: flex;
  height: 100px;
  justify-content: space-between;
  background-color: white;
}
#imgcontrol{
  margin-left: 40px;
}
.img12{
  width: 80px;
  height: 80px;
}
.starstyle{
  width: 180px;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  margin-right: 50px;
  border-left: 2px solid gray;

}
#song-control{
  text-align: center;
  padding-top: 25px;
  border-left: 2px solid gray;
  width: 200px;
}
#artistinfo{
  display: flex;
  justify-content: space-around;
  line-height: 80px;
}
#ai{
  width: 450px;
  text-align: center;
  border-right: 2px solid gray;
}
#art{
  padding-left: 20px;
  margin-top: 80px;
  font-size: x-large;
  border-bottom: 2px solid gray;
}